# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Frontend
FRONTEND/projecthub-ui/dist/
FRONTEND/projecthub-ui/node_modules/
FRONTEND/projecthub-ui/.angular/
FRONTEND/projecthub-ui/tmp/
FRONTEND/projecthub-ui/out-tsc/

# Backend
BACKEND/ProjectHubAPI/**/bin/
BACKEND/ProjectHubAPI/**/obj/
BACKEND/ProjectHubAPI/.vs/
BACKEND/ProjectHubAPI/*.user
BACKEND/ProjectHubAPI/*.suo
BACKEND/ProjectHubAPI/*.vsidx

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/
*.launch
.settings/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
